<body>

    <div class="contenedor">
        <h1 class="tituloInicial">
            <i class="fa-solid fa-user-gear"></i> Administrador
        </h1>

        <div class="Contenedor-botones">

            <button class="botonPrincipal">
                <li class="enlace" id="Empleados">
                    <a href="#Empleados" class="padre">
                        <i class="fa-solid fa-user-group"></i>Empleados
                    </a>
                    <div class="submenu">
                        <a href="#">Ver Todos</a>
                        <a href="#">Agregar</a>
                        <a href="#">Eliminar</a>
                    </div>
                </li>
            </button><br><br>

            <button class="botonPrincipal">
                <li class="enlace" id="Clientes">
                    <a href="#Clientes" class="padre">
                        <i class="fa-solid fa-people-robbery"></i>Clientes
                    </a>
                    <div class="submenu">
                        <a href="#">Ver Todos</a>
                        <a href="#">Agregar</a>
                        <a href="#">Eliminar</a>
                    </div>
                </li>
            </button><br><br>

            <button class="botonPrincipal">
                <li class="enlace" id="Rutinas">
                    <a href="#Rutinas" class="padre">
                        <i class="fa-solid fa-person-walking"></i>Rutinas
                    </a>
                    <div class="submenu">
                        <a href="#">Ver Todos</a>
                        <a href="#">Agregar</a>
                    </div>
                </li>
            </button><br><br>

            <button class="botonPrincipal">
                <li class="enlace" id="Dietas">
                    <a href="#Dietas" class="padre">
                        <i class="fa-solid fa-calendar-day"></i>Dietas
                    </a>
                    <div class="submenu">
                        <a href="#">Ver Todos</a>
                        <a href="#">Agregar</a>
                    </div>
                </li>
            </button><br><br>

            <button class="botonSalir">
                <li class="enlace" id="salir">
                    <a href="../../index.html" class="padre">
                        <i class="fa-solid fa-right-from-bracket"></i>Salir Sesión
                    </a>
                </li>
            </button><br><br>
        
        </div>
    </div>
    <script src="https://kit.fontawesome.com/5996916878.js" crossorigin="anonymous"></script>

</body>

