
<body style="background-image: url(../../../../assets/roles/images/index-MV.jpg);">

    <div class="container-fluid container-web-page">
        <h1 class="text-center text-uppercase poppins-regular font-weight-bold">
            <i class="fa-solid fa-user-gear"></i>  Administrador
        </h1>
        <div class="container-cards full-box">                
            <div class="card shadow-1-strong">
                <img class="card-img-top" src="../../../../assets/roles/images/empleados.jpg">
                <div class="card-body text-center">
                    <h5 class="card-title font-weight-bold">Empleados</h5>
                </div>
                <div class="card-body text-center">
                    <a (click)="accederEmpleados()" class="btn btn-info btn-sm">&nbsp; Acceder</a>
                </div>
            </div>

            
            <div class="card shadow-1-strong">
                <img class="card-img-top" src="../../../../assets/roles/images/clientes.jpg">
                <div class="card-body text-center">
                    <h5 class="card-title font-weight-bold">Clientes</h5>
                </div>
                <div class="card-body text-center">
                    <a (click)="accederClientes()" class="btn btn-info btn-sm">&nbsp; Acceder</a>
                </div>
            </div>

            
            <div class="card shadow-1-strong">
                <img class="card-img-top" src="../../../../assets/roles/images/rutinas.jpg">
                <div class="card-body text-center">
                    <h5 class="card-title font-weight-bold">Rutinas</h5>
                </div>
                <div class="card-body text-center">
                    <a (click)="accederRutinas()" class="btn btn-info btn-sm">&nbsp; Acceder</a>
                </div>
            </div>

            
            <div class="card shadow-1-strong">
                <img class="card-img-top" src="../../../../assets/roles/images/dietas.jpg">
                <div class="card-body text-center">
                    <h5 class="card-title font-weight-bold">Dietas</h5>
                </div>
                <div class="card-body text-center">
                    <a (click)="accederDietas()" class="btn btn-info btn-sm">&nbsp; Acceder</a>
                </div>
            </div>
        </div>
        <br>
        <p class="text-center"><a routerLink="/login" class="btn btn-primary">&nbsp; Cerrar Sesion</a></p>
    
    </div>
</body>