<body>
  <div class ="ButtonHome">
    <button  routerLink="/master"><i class="fa-solid fa-angles-left"></i>Volver</button>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body text-center">
            <span class="titulo">LISTADO DE RUTINAS</span>
            <button class="btn btn-success float-end" routerLink="/crear-rutina">CREAR</button>
            <table *ngIf="listRutina.length>0 " class="table table-striped mt-3">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nivel</th>
                  <th scope="col">Día</th>
                  <th scope="col">Músculo</th>
                  <th scope="col">Ejercicios</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rutina of listRutina | paginacionRutinas: page_size:page_number">
                  <td>{{rutina.id_rutina}}</td>
                  <td>{{rutina.nivel}}</td>
                  <td>{{rutina.dia}}</td>
                  <td>{{rutina.musculo}}</td>
                  <td>{{rutina.ejercicios}}</td>
                  <td>
                    <i (click)="VerRutina(rutina._id, rutina.nivel, rutina.dia, rutina.musculo, rutina.ejercicios)"  class="ver fa-solid fa-eye" matTooltip="Ver Rutina" matTooltipPosition="left" matTooltipClass="TooltipVer"></i>
                    <i  [routerLink]="['/editar-rutina']"  class="editar fa-solid fa-pen-to-square" matTooltip="Editar Rutina" matTooltipPosition="right" matTooltipClass="TooltipEditar" ></i>
                    <i (click)="DialogEliminarRutina(rutina._id)"  class="eliminar fa-solid fa-delete-left" matTooltip="Eliminar Rutina" matTooltipPosition="left" matTooltipClass="TooltipEliminar" ></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <mat-paginator 
              [length]="listRutina.length"
              [pageSize]="page_size"
              [pageSizeOptions]="pageSizeOptions"
              (page)="handlePage($event)">
            </mat-paginator>
            <h3 *ngIf="listRutina.length == 0 " style="text-align: center; margin-top: 20px;">No hay rutinas para mostrar.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</body>
