<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> {{titulo | uppercase }}</span>
                    <form class="mt-3" [formGroup]="dietaForm" (ngSubmit)="agregarDieta()">
                        <!-- <div class="mb-3">
                            <input type="number" formControlName="id_dieta" class="form-control form-control-lg"
                                placeholder="ID dieta">
                            <div class="text-danger"
                                *ngIf="dietaForm.get('id_dieta')?.hasError('required') && dietaForm.get('id_dieta')?.touched">
                                <span>El ID de dieta <strong>es obligatorio</strong></span>
                            </div>
                        </div> -->
                        <div class="mb-3">
                            <input type="number" formControlName="id_objetivo" class="form-control form-control-lg"
                                placeholder="ID objetivo">
                            <div class="text-danger"
                                *ngIf="dietaForm.get('id_objetivo')?.hasError('required') && dietaForm.get('id_objetivo')?.touched">
                                <span>El ID de objetivo <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="nivel" class="form-control form-control-lg"
                                placeholder="Nivel">
                            <div class="text-danger"
                                *ngIf="dietaForm.get('nivel')?.hasError('required') && dietaForm.get('nivel')?.touched">
                                <span>El nivel <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="tiempo" class="form-control form-control-lg"
                                placeholder="Tiempo">
                            <div class="text-danger"
                                *ngIf="dietaForm.get('tiempo')?.hasError('required') && dietaForm.get('tiempo')?.touched">
                                <span>El tiempo <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="alimentos" class="form-control form-control-lg"
                                placeholder="Alimentos">
                            <div class="text-danger"
                                *ngIf="dietaForm.get('alimentos')?.hasError('required') && dietaForm.get('alimentos')?.touched">
                                <span>Los alimentos <strong>son obligatorios</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="carbohidratos" class="form-control form-control-lg"
                                placeholder="Carbohidratos">
                            <div class="text-danger"
                                *ngIf="dietaForm.get('carbohidratos')?.hasError('required') && dietaForm.get('carbohidratos')?.touched">
                                <span>Los carboidratos <strong>son obligatorios</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="proteinas" class="form-control form-control-lg"
                                placeholder="Proteinas">
                            <div class="text-danger"
                                *ngIf="dietaForm.get('proteinas')?.hasError('required') && dietaForm.get('proteinas')?.touched">
                                <span>Las proteinas <strong>son obligatorias</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="peso" class="form-control form-control-lg"
                                placeholder="Peso">
                            <div class="text-danger"
                                *ngIf="dietaForm.get('peso')?.hasError('required') && dietaForm.get('peso')?.touched">
                                <span>El peso <strong>es obligatorios</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button (click)="volver()" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="dietaForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>