<div class="container">
    <div class="login">
      <div class="login-triangle"></div>
  
      <h2 class="login-header">Ingresar</h2>
  
      <form #frmLogin="ngForm" class="login-container" (ngSubmit)="onLogin(frmLogin)">
        <p>
          <input type="email" name="email" placeholder="Correo" ngModel required>
        </p>
        <p>
          <input type="password" name="password" placeholder="Contraseña" ngModel required>
        </p>
        <p>
          <input type="submit" value="Entrar">
        </p>
      </form>
    </div>
  </div>
