  table {
    width: 100%;
    position: center;
  }
  .rutina-buttons {
    display: flex;
    justify-content: space-evenly;
  }
  .ellipsis {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .acciones {
    text-align: center;
  }
  
  .ButtonHome button {
    background: #fff;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    height: 40px;
    margin-top: 25px;
    margin-left: 65px;
    cursor: pointer;
    border: 2px solid black;
  }
  
  .ButtonHome button:hover {
    background: rgb(8, 70, 240);
    color: white;
  }
  
  .ButtonHome i {
    color: black;
    padding-right: 8px;
  }
  
  .tabla{
    position: center;
  }
  
  .editar {
    cursor: pointer;
    margin-left: 10px;
    color: rgb(5, 122, 218);
  }
  
  .ver {
    cursor: pointer;
    margin-left: 10px;
    color: #393939;
  }
  
  .eliminar {
    cursor: pointer;
    margin-left: 10px;
    color: rgb(218, 5, 5);
  }
  