<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >

<form class="formulario">
    <h1>Banco Vivienda</h1>

    <div class="contenedor">
        <div class="tipocuenta">
            <div>
                <span>Escoger el tipo de Cuenta</span><br><br>
                <label class="cuenta" for="Master">Master</label>
                <input class="radio" type="radio" name="rol_cuenta" id="Master" value="Master">
                <br>
                <label class="cuenta" for="Administrador">Administrador</label>
                <input class="radio" type="radio" name="rol_cuenta" id="Administrador" value="Administrador">
                <br>
                <label class="cuenta" for="Instructor">Instructor</label>
                <input class="radio" type="radio" name="rol_cuenta" id="Instructor" value="Instructor">                
            </div>
        </div>

        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input formControlName="email" type="email" placeholder="Correo Electrónico" id="user"/><br>
        </div>
        
        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input formControlName="password" type="password" placeholder="Contraseña" id="password"/><br>
        </div>

        <input routerLink="/master" type="submit" value="Login" class="button">
        <p>¿Deseas realizar un pago? <a href="/pagoPlataforma" class="link">Realizar Pago</a></p>
    </div>
</form>