.ButtonHome button {
    background: #fff;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    height: 40px;
    margin-top: 25px;
    margin-left: 70px;
    cursor: pointer;
    border: 2px solid black;
}