<div class ="ButtonHome">
  <button (click)="volver()"><i class="fa-solid fa-angles-left"></i>Volver</button>
</div>
<div class="row center-xs">
    <mat-card class="example-card col-xs-6">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>NUEVO CLIENTE</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <form [formGroup]="datosClienteForm" (ngSubmit)="putDatos()" class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label for="nombreCompleto">Nombre Completo: </mat-label>
                    <input matInput id="nombreCompleto" type="text" formControlName="nombreCompleto">
                </mat-form-field>
                <br>

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label for="fechaNacimiento">Fecha Nacimiento: </mat-label>
                  <input matInput id="fechaNacimiento" type="date" formControlName="fechaNacimiento">
                </mat-form-field>
                <br>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="dpi">DPI: </mat-label>
                <input matInput id="dpi" type="number" formControlName="dpi" maxlength="13" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
              </mat-form-field>
              <br>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="email">Email: </mat-label>
                <input matInput id="email" type="email" formControlName="email">
              </mat-form-field>
              <br>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="telefono">Teléfono: </mat-label>
                <input matInput id="telefono" type="number" formControlName="telefono" maxlength="8" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
              </mat-form-field>
              <br>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="sucursal">No. Sucursal </mat-label>
                <input matInput id="sucursal" type="number" formControlName="noSucursal" maxlength="8" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
              </mat-form-field>
              
              <br>

              <mat-form-field class="example-full-width" aspecto = "fill" > 
                <mat-label> Objetivo </mat-label> 
                  <mat-select formControlName="objetivo"> 
                    <mat-option for = "objetivo" value="1"> Masa muscular </mat-option>
                    <mat-option for = "objetivo" value="2"> Bajar de peso </mat-option> 
                    <mat-option for = "objetivo" value="3"> Tonificar </mat-option>
                    <mat-option for = "objetivo" value="4"> Mantenimiento </mat-option>
                  </mat-select> 
              </mat-form-field> 
              <br>
              
              <button mat-raised-button color="primary" class="signUp" type="submit" [disabled]="datosClienteForm.invalid">Sign Up</button>
            </form>
        </mat-card-content>
