  @media (max-width: 200px) {
    .flex-container {
      flex-direction: column;
    }
  }

  table {

    /* width: 100%;
    left: 50%; */

  }

  .pri{

  }

  /* .alin{
    max-width: 70px;
    min-width: 40px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }


  .alin2{
    max-width: 70px;
    min-width: 55px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
*/
  .alin3{
    max-width: 200px;
    min-width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

/*
  .alin4{
    max-width: 90px;
    min-width: 60px;
  
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

.alin5{
  max-width: 90px;
  min-width: 60px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
*/

.alin6{
  max-width: 50px;
  min-width: 30px;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.alin7{
  max-width: 250px;
  min-width: 250px;
  
} 

  #ButtonHome button {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    
    display:block;
    background: #fff;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    height: 40px;
    /* position: absolute; */
    /* left: px; */
    border: 2px solid black;
  }

  #ButtonHome button:hover {
    background: rgb(8, 70, 240);
    color: white;
  }

  #ButtonHome i {
    color: black;
    padding-right: 8px;
  }

  #btnss {
  width: 2800px;
    
    min-width: 2200px;

  }

  /* .btnv {
    position: absolute;
    left: -320px;

  } */


  .btnc {
    position: relative;
  }



  /* ----------------------------------- */

  /* * {
    box-sizing: border-box;
  } */

  /* .flex-containerx{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    position: absolute;
    right: 170px;
    bottom: 380px;
  
  } */


  /* .flex-container {
    position:fixed;
    left: 25% ;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    top: 50%;

  } */

  /* .flex-item-left {

    flex: 1%;
  }

  .flex-item-right {
    flex: 1%;
  }

  .mat-cell {
 
   
  } */

  /* Responsive layout - makes a one column-layout instead of two-column layout */