

<div class="mb-3">

    <div class="container mt-5">
        <div class="container">
            <div class="col-lg-6 offset-lg-3">

                <mat-card>
                    <p
                        style="text-align: center; margin-top: 20px; margin-bottom: 30px; font-family: monospace; font-weight: bolder;">
                        <span class="titulo"> {{titulo |
                            uppercase }}</span></p>

                    <form id="Form" [formGroup]="dietaForm"
                        style=" font-size: 15px; display: flex; flex-direction: column; max-width: 500;">
                        <!-- <mat-radio-group [formControl]="floatLabelControl"
                        class="form-control form-control-lg" name="objetivo"
                        style="font-size: 15px;">

                        <mat-form-field appearance="fill"
                             [hideRequiredMarker]="hideRequiredControl.value"
                            [floatLabel]="floatLabelControl.value">
                            <mat-select required>
                                <mat-option>-- None --</mat-option>
                                <mat-option value="option">Option</mat-option>
                            </mat-select>
                            <mat-label>
                                <mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i>
                            </mat-label>
                        </mat-form-field>



                        Empleo actual:<br>
                        <mat-radio-button  color="warn" name="empleoactual"
                            value="tiempocompleto"> Tiempo completo</mat-radio-button>
                        <br>
                        <mat-radio-button  color="warn" name="empleoactual"
                            value="mediodia"> Medio día</mat-radio-button>
                        <br>
                        <mat-radio-button  color="warn" name="empleoactual"
                            value="sinempleo"> Sin empleo </mat-radio-button>
                        <button [disabled]="false" class="next" mat-button matStepperNext>
                            Continuar
                        </button>
                         <input matInput placeholder="Objetivo" formControlName="objetivo" class="form-control form-control-lg"  name="objetivo" style="height: 30px;">
                    </mat-radio-group> -->
                        <mat-form-field>
                            <input matInput placeholder="Objetivo" formControlName="objetivo"
                                class="form-control form-control-lg" name="objetivo" style="height: 30px;">
                        </mat-form-field>
                        <div class="text-danger"
                            *ngIf="dietaForm.get('objetivo')?.hasError('required') && dietaForm.get('objetivo')?.touched">
                            <span>El campo no puede quedar vacío</span>
                        </div>
                        <br>
                        <mat-form-field>
                            <input type="number" max="3" min="1" matInput placeholder="Nivel" formControlName="nivel"
                                class="form-control" name="nivel" style="height: 30px;">
                        </mat-form-field>
                        <div class="text-danger"
                            *ngIf="dietaForm.get('nivel')?.hasError('required') && dietaForm.get('nivel')?.touched">
                            <span>El campo no puede quedar vacío</span>
                        </div>
                        <br>
                        <mat-form-field>
                            <input matInput placeholder="Tiempo" formControlName="tiempo" class="form-control"
                                name="tiempo" style="height: 30px;">
                        </mat-form-field>
                        <div class="text-danger"
                            *ngIf="dietaForm.get('tiempo')?.hasError('required') && dietaForm.get('tiempo')?.touched">
                            <span>El campo no puede quedar vacío</span>
                        </div>
                        <br>
                        <mat-form-field>
                            <textarea rows="4" cols="50" matInput placeholder="Alimentos" formControlName="alimentos"
                                class="form-control" name="alimentos"></textarea>
                        </mat-form-field>
                        <div class="text-danger"
                            *ngIf="dietaForm.get('alimentos')?.hasError('required') && dietaForm.get('alimentos')?.touched">
                            <span>El campo no puede quedar vacío</span>
                        </div>
                        <br>
                        <mat-form-field>
                            <input type="number" min="1" matInput placeholder="Carboidratos en gramos"
                                formControlName="carbohidratos" class="form-control" name="carbohidratos"
                                style="height: 30px;">
                        </mat-form-field>
                        <div class="text-danger"
                            *ngIf="dietaForm.get('carbohidratos')?.hasError('required') && dietaForm.get('carbohidratos')?.touched">
                            <span>El campo no puede quedar vacío</span>
                        </div>
                        <br>
                        <mat-form-field>
                            <input type="number" min="1" matInput placeholder="Proteinas en gramos"
                                formControlName="proteinas" class="form-control" name="proteinas" style="height: 30px;">
                        </mat-form-field>
                        <div class="text-danger"
                            *ngIf="dietaForm.get('proteinas')?.hasError('required') && dietaForm.get('proteinas')?.touched">
                            <span>El campo no puede quedar vacío</span>
                        </div>
                        <br>

                        <mat-form-field>
                            <input type="number" min="1" matInput placeholder="Peso en gramos" formControlName="peso"
                                class="form-control" name="peso" style="height: 30px;">
                        </mat-form-field>
                        <div class="text-danger"
                            *ngIf="dietaForm.get('peso')?.hasError('required') && dietaForm.get('peso')?.touched">
                            <span>El campo no puede quedar vacío</span>
                        </div>
                        <br>


                        <button id="btnSubmit" (click)="createDieta()" [disabled]="dietaForm.invalid" mat-raised-button
                            type="submit" color="primary">Crear</button>
                        <br>


                        <button mat-raised-button (click)="cancelar()" color="warn">Cancelar</button>
                    </form>

                </mat-card>

            </div>
        </div>

    </div>

</div>